body {
  font-family: 'Space Mono', monospace;
  background-image: linear-gradient(to bottom right, brown, rgb(244, 91, 91), rgb(248, 181, 56), rgb(249, 249, 80) );
  height: 100vh;
  width: 100vw;
  margin: 0;
}


#navbar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: rgb(123, 66, 26);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 10px groove rgb(123, 66, 26);
  position: sticky;
  top: 0;
  width: 98%;
}

.navbuttons {
  font-family: 'Space Mono', monospace;
  font-size: large;
  margin: 10px;
  background-color: rgb(154, 88, 41);
  border: 5px outset rgb(123, 66, 26);
}

.navbuttons:hover {
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 10px white;
  transform: scale(1.25);
  color: white;
}

.homeTitle {
  font-size: 40px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position:absolute}

.error{ color:red;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
position:absolute}

.tabs {
  margin: 10px;
  padding: 5px;
  border: 3px inset silver;
  border-radius: 10px;
}

.singleActivity {
  margin: 10px;
  padding: 5px;
  border: 3px inset silver;
  border-radius: 10px;
}

#addActivityForm {
  border: 3px inset silver;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

.userpass {
  caret-color: rgb(110, 79, 44);
  border: 5px inset rgb(244, 244, 146);
  background-color: rgb(244, 244, 146);
  margin-left: 10px;
  margin-right: 10px;
}

.formLabel {

}

.loginbutton {
  border: 5px outset rgb(244, 91, 91);
  background-color: rgb(244, 91, 91);
  margin-left: 10px;
  color: rgb(241, 224, 224);
}

.loginbutton:hover {
  box-shadow: 3px 3px 10px white;
  transform: scale(1.25);
}

.isPublicTitle {
  margin: 10px;
}

.isPublicWhole {
  margin: 10px;
}

.MyRoutinesTitle {
  text-align: center;
}

.dropdown {
  margin: 10px;
  background-color: rgb(244, 244, 146);
}

.createroutine {
  display: flex;
  justify-content: center;
  align-items: center;
}