body {
  font-family: 'Raleway', Arial, sans-serif;
  background-color: rgb(186, 191, 242);
  height: 100vh;
  width: 100vw;
  margin: 0;
}


#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: rgb(24, 19, 82);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.error{ color:red;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
position:absolute}

.tabs {
  margin: 10px;
  padding: 5px;
  border: 3px inset silver;
  border-radius: 10px;
}

.singleActivity {
  margin: 10px;
  padding: 5px;
  border: 3px inset silver;
  border-radius: 10px;
}

#addActivityForm {
  border: 3px inset silver;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

